#
# danceDisplaySql - https://github.com/Gostron/dance-display-sql.git
#
# Copyright (c) 2017 dance-display-sql
#

# Jetbrains Editors
.idea/
*.iml

# Node & NPM
node_modules/
npm-debug.log

# JSDoc
jsdoc/
apidoc/

# Settings
settings.*.json
dance-display-sql.json
dance-display-sql.pid

# Logs
logs/

# Visual Studio Code Customization
.vscode/